
html, body {
    margin: 0;
}
body {
    background-color: #555;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(5, 138, 138);
    padding: 10px 20px 0px;
}
ul {
    list-style: none; /* Remover as bolinhas de lista padrão */
  }
  
  li {
    margin: 0; /* Remover o espaçamento entre os itens do menu */
  }
  
  a {
    color: #fff; /* Cor do texto do link */
    text-decoration: none; /* Remover sublinhado do link */
    display: block; /* Fazer os links ocuparem toda a largura disponível */
    padding: 10px; /* Espaçamento interno do link */
  }
  
  /* Estilo do link quando passar o mouse por cima */
a:hover {
    background-color: #555; /* Cor de fundo do link quando o mouse passar por cima */
}

.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
    background-color: #f0f0f0; 
    padding: 20px; 
    text-align: center;
}

img{
margin-top: 0;
  margin-bottom: 0;
  margin-left: 65px;
  margin-right: 20px;
}

.segunda{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 65px;
  margin-right: 20px;
  height: 350px;
  width: 850px;
}

h1{
    text-align: center;
}

p{
    text-align: center;
    
}

a{
    text-align: center;
}
tr{
    text-align:center;
}
table{
    box-shadow: 13px 15px 5px 3px rgba(2, 84, 42, 0.23);
    -webkit-box-shadow: 13px 15px 5px 3px rgba(6, 91, 55, 0.807);
    -moz-box-shadow: 13px 15px 5px 3px rgba(2, 112, 57, 0.736);
    border: solid 1px gray;
}
table thead th{
    background-color: rgba(1, 71, 30, 0.84);
    color: white;
}
/*nth-child(even) PEGA TUDO QUE É PAR*/
table tbody tr:nth-child(even) td{
    background-color: #f1f1f1;
}
/*hover serve pra passar o mouse*/
table tbody tr:hover td{
    background-color: #e9e9e9;
    cursor: pointer;
}
table tfoot td{
    background-color: lightgrey;
}
.row{
    margin:10px;
    text-align: right;
    display: flex;
}
label{
    width: 100px;
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}
fieldset{
    margin: 15px 0;
    border-radius: 15px;
    border-color: rgb(6, 126, 66);
    max-width: fit-content;
    width: 600px;
}
legend{
    text-align: left;
}